/**/
/**/
#cartClose{
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}
.cartSpan{
    font-weight: bold;
}
.cards {
    margin: -1rem;
}

.card {
    width: 120px;
    float: left;
    margin: 1rem;
    border: 1px solid #d3d3d3;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}
#cartCheck{
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
}
#session_dropdown{
  color: #fff;
  background-color: #c96;
  border-color: #c96;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
  padding: 0.85rem 1.5rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  min-width: 170px;
  border-radius: 0;
  white-space: normal;
  transition: all 0.3s;
}
#session_dropdown h6{color: #fff;font-size: small !important;}
#sessiontype{
  color: #fff;
  background-color: #c96;
  border-color: #fff;
}

@supports (display: grid) {
    .cards {
        margin: 0;
    }

    .cards {
        display: grid;
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
        grid-gap: 1rem;
    }


}



.expiry li{
    margin-top: 10px;
    border:1px solid grey;
}
body{
    --color-primary:#009579;
    --color-primary-dark:#007f67;
    --color-secondary:#252c6a;
    --color-error:#cc3333;
    --color-success:#4bb544;
    --border-radius: 4px;

}
/*NAVBAR CSS*/
.nav_header .navbar-brand{
    font-weight: 500;
    font-size: 2rem;
}
.navbar-text i{
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}
#logoutuser{display: none;border-radius: 10px;min-width: 0% !important;}
/*#navlogout{
    display: none;
}*/
.navlogin{
    margin: 0px !important;
    padding: 0px;
    min-width: 0px;
    margin-bottom: 0px;
}
#loginNav{border: none;border-radius: 5px;}


/*SIGN_IN_UP CSS*/
#logincontinue{
    color: #fff;
    min-width: 89%;
    border-radius: 20px;
    padding: 10px;
    position: initial;
    background-color: var(--color-primary-dark);
}
#viewhide{display: flex;}
.signInUp{

    display: flex;
    align-items: center;
    justify-content: center;
}
.signInUp .row{

    margin: 0;
    /*height: 100vh;*/
    font-size: 15px;
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signInUp,.form_input,.form_button{font-family: 500 1rem 'Quicksand', sans-serif;}
.signInUpForm > *:first-child{margin-top: 0;}
.signInUpForm > *:last-child{margin-bottom: 0;}
.form_title{text-align: center;margin-bottom: 2rem;}
.form_message{text-align: center;margin-bottom: 1rem;}
.form_message_success{color: var( --color-success);}
.form_message_error{color: var( --color-error);}
.form_input_group{margin-bottom: 1rem;}
.form_input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background:#eeeeee;
    transition: background 0.2s, border-color 0.2s;
}
.form_input:focus{border-color:var(--color-primary);background: #ffffff;}
.form_input_error{color: var(--color-error);border-color:var(--color-error);}
.form_input_error_message{margin-top: 0.5rem;font-size: 0.85rem;color:var(--color-error);}
.form_button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight:bold;
    font-size: 1.5rem;
    color: #ffffff;
    border:none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background:var(--color-primary);
}
.form_button:hover{background:var(--color-primary-dark);}
.form_button:active{
    transform:scale(0.98);

    -webkit-transform:scale(0.98);
    -moz-transform:scale(0.98);
    -ms-transform:scale(0.98);
    -o-transform:scale(0.98);
}
.form_text{text-align: center;}
.form_link{color: var(--color-secondary);text-decoration: none;cursor: pointer;}
.form_link:hover{text-decoration: underline;}
.form_hidden{display: none;}


/**/
/**/
.card-body a{color: #fff !important;}

.bg_color{background-color: #e2e2e2 !important;}
.form_search{
	border-radius: 33px;
    border: 1px solid #21252924;
    background-color: #f9f9f9;
    margin-bottom: 0rem;
}
#result li{border-radius: 2rem;cursor: pointer;}
.header_title h3{
	margin-bottom: unset;
	color: #4d7b19;
}
.header_title span{
	color: #5C4033;
    font-size: 12px;
}
#match-list{
    position: absolute;
    z-index: 1;
}
#match-list li{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 2.4rem;
    color: #333;
    letter-spacing: -.03em;
    cursor: pointer;
}
.form_Custsearch{
    border-radius: 33px;
    border: 1px solid #21252924;
    background-color: #f9f9f9;
    margin-bottom: 0rem;
}
#searchCustmerLayout{display: none;}
#custsendbtn{display: none;}
#custDetails {
  display: none;
}
#custBack{
  float: right;
  margin-bottom: 2rem;
}
#Cartempty{display: none;}
#matchCustomer-list li{
  font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.1;
      margin-bottom: 2.4rem;
      color: #333;
      letter-spacing: -.03em;
      cursor: pointer;
}
/*.checkSale input[type=checkbox] {
  -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    outline: none;
    content: none;
}*/


/*PRODUCT PAGE CSS*/
#prodView{display: none;}
.close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.25rem;
    font-weight: bold;
    height: fit-content;
    position: absolute;
    
}
.picZoomer{
    position: relative;
    /*margin-left: 40px;
    padding: 15px;*/
}
.picZoomer-pic-wp{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.picZoomer-pic-wp:hover .picZoomer-cursor{
    display: block;
}
.picZoomer-zoom-pic{
    position: absolute;
    top: 0;
    left: 0;
}
.picZoomer-pic{
    /*width: 100%;
    height: 100%;*/
}
.picZoomer-zoom-wp{
    display: none;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    border:1px solid #eee;
    height: 460px;
    margin-top: -19px;
}
.picZoomer-cursor{
    display: none;
    cursor: crosshair;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: rgba(0,0,0,.1);
}
.picZoomCursor-ico{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 40px;
    left: 40px;
    background: url(images/zoom-ico.png) left top no-repeat;
}

.my_img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}
.piclist li{
    display: inline-block;
    width: 90px;
    height: 114px;
    /*border: 1px solid #eee;*/
}
.piclist li img{
    width: 97%;
    height: auto;
}

/* custom style */
.picZoomer-pic-wp,
.picZoomer-zoom-wp{
    border: 1px solid #eee;
}



.section-bg {
    background-color: #fff1e0;
}
section {
    padding: 60px 0;
}
.row-sm .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

/*===pic-Zoom===*/
._boxzoom .zoom-thumb {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}
._boxzoom .zoom-thumb ul.piclist {
    padding-left: 0px;
    top: 0px;
}
._boxzoom ._product-images {
    width: 80%;
    display: inline-block;
}
._boxzoom ._product-images .picZoomer {
    width: 100%;
}
._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
    left: 0px;
}
._boxzoom ._product-images .picZoomer img.my_img {
    width: 100%;
}
.piclist li img {
    height:100px;
    object-fit:cover;
}

/*======products-details=====*/
#product_layout{display: none;}
#search_layout{display: none;}
._product-detail-content {
    background: #fff;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
._product-detail-content p._p-name {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
}
.p-list span {
    margin-right: 15px;
}
.p-list span.price {
    font: normal 300 1.4rem/1.86 "Poppins",sans-serif;
    color: #318234;
}
.p_qty > span {
    color: black;
    margin-right: 15px;
    font-weight: 500;
}
.p_qty .value-button {
    display: inline-flex;
    border: 0px solid #ddd;
    margin: 0px;
    width: 20px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #fd7f34;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

.p_qty .value-button {
    border: 0px solid #fe0000;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
}
.p_qty input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #fe0000;
    border-bottom: 1px solid #fe0000;
    margin: 0px;
    width: 40px;
    height: 29px;
    font-size: 14px;
    box-sizing: border-box;
}
._p-add-cart {
    margin-left: 0px;
    margin-bottom: 15px;
}
.p-list {
    margin-bottom: 10px;
    font-size: initial;
    font-weight: bold;
}
._p-features > span {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
._p-add-cart .buy-btn {
    background-color: #fd7f34;
    color: #fff;
}
._p-add-cart .btn {
    text-transform: capitalize;
    padding: 6px 20px;
    /* width: 200px; */
    border-radius: 52px;
}
._p-add-cart .btn {
    margin: 5px 8px;
}

/*=========Recent-post==========*/
.title_bx h3.title {
    font-size: 22px;
    text-transform: capitalize;
    position: relative;
    color: #fd7f34;
    font-weight: 700;
    line-height: 1.2em;
}
.title_bx h3.title:before {
    content: "";
    height: 2px;
    width: 20%;
    position: absolute;
    left: 0px;
    z-index: 1;
    top: 40px;
    background-color: #fd7f34;
}
.title_bx h3.title:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: #ffc107;
}
.common_wd .owl-nav .owl-prev, .common_wd .owl-nav .owl-next {
    background-color: #fd7f34 !important;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0px !important;
}
.owl-nav .owl-next {
    right:-10px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    top:50%;
    position: absolute;
}
.common_wd .owl-nav .owl-prev i, .common_wd .owl-nav .owl-next i {
    color: #fff;
    font-size: 14px !important;
    position: relative;
    top: -1px;
}
.common_wd .owl-nav {
    position: absolute;
    top: -21%;
    right: 4px;
    width: 65px;
}
.owl-nav .owl-prev i, .owl-nav .owl-next i {
    left: 0px;
}
.p_qty .decrease_ {
    position: relative;
    right: -5px;
    top: 3px;
}

.p_qty .increase_ {
    position: relative;
    top: 3px;
    left: -5px;
}
/*========box========*/
.sq_box {
    padding-bottom: 5px;
    border-bottom: solid 2px #fd7f34;
    background-color: #fff;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.item .sq_box span.wishlist {
    right: 5px !important;
}
.sq_box span.wishlist {
    position: absolute;
    top: 10px;
    right: 20px;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box span.wishlist i {
    color: #adb5bd;
    font-size: 20px;
}
.sq_box h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #343a40;
    margin-top: 10px;
    margin-bottom: 10px !important;
}
.sq_box .price-box {
    margin-bottom: 15px !important;
}
.sq_box .btn {
    border-radius: 50px;
    padding: 5px 13px;
    font-size: 15px;
    color: #fff;
    background-color: #fd7f34;
    font-weight: 600;
}
.sq_box .price-box span.price {
    text-decoration: line-through;
    color: #6c757d;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box .price-box span.offer-price {
    color:#28a745;
}
.sq_box img {
    object-fit: cover;
    height: 150px !important;
    margin-top: 20px;
}
.sq_box span.wishlist i:hover {
    color: #fd7f34;
}

/*CART PAGE CSS
.mt-100 {
    margin-top: 100px
}

.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card .card-body {
    padding: 30px;
    background-color: transparent
}*/

#datePickers{
    border-radius: 5px;
    border: 1px solid #21252924;
    background-color: #f9f9f9;
    margin-bottom: 0rem;
    width: -webkit-fill-available;
    text-align: center;
}
.custlable{
  font-size: 15px;
  font-weight: 500;
  color: #C46200;
}
/*HEARDER CART ICON CSS*/
.cartlogout{
  justify-content: flex-end;
  border-radius: 10px;
      display: flex;
      /*background-color: #f0f5f5;*/
      padding: 5px;
}
#newrow span{
  font-family: Arial;
  font-size: 10px;
}
#newrow{
  display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: -1px;
      grid-row-gap: 4px;
      overflow: hidden;
}
.cartinput{
    width: 5%;
    border-radius: 8px;
    text-align: center;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="30"><text x="5" y="19" style="font: 10px Arial;">Quantity :</text></svg>') no-repeat;
    border: 1px solid #555;
    box-sizing: border-box;
    font: 10px "Arial";
    height: 30px;
    padding-left: 50px;
    width: 80px;

}
.carthead{
    font-weight: bold;
    font-size: 10px;
    color: #333;
}
.cartspan{
  position: absolute; 
    display: block; 
    left: 5px; 
    top: 10px; 
    z-index: 9;
}
#cart_btn{
    border: none;
    font-size:1.5rem;
    background: none;
    /*color: ;*/
    position: relative;
}
#cart_count_info{
    position: absolute;
    top: -6px;
    right: 2px;
    background-color: var --fire-bush;
    color: #000000;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
/*CART LAYOUT DESIGN*/
tr{text-align: center;}
th{
    font-weight: bold !important;
    font-size: 1.5rem !important;
}
#removeFromCart{cursor: pointer;}
#cart_button{display: none;}
#cart_button button{
    font-size: small;
    width: -webkit-fill-available;
}

/*Empty Cart*/
#emptyCart {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#emptyCart.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#fullCart {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#fullCart.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#addedCustlist {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#addedCustlist.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#orderSuccess {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#orderSuccess.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#checkLogin {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#checkLogin.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#orderFail {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#orderFail.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#addqunt {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#addqunt.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#loginSuccess {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#loginSuccess.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#orderLogin {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#orderLogin.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#orderExpiry {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#orderExpiry.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/*Empty Cart*/
#addedCart {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#duplicate {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#duplicate.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#addedCart.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*CART LAYOUT DESIGN
.cart_container{
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 600px;
    top: 100px;
    left: 0;
    right: 0;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none ;
}

.cart_container::-webkit-scrollbar{width: 8px;}
.cart_container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;    
}
.show-cart_container{display: block;}
.cart_item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.cart_item:last-child{border-bottom:none;}
.cart_item_del_btn{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.05rem 0.45rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;    
}
.cart_item_info{text-align: center;}
.cart_item_info span{display: block;}
.cart_total{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart_total h3{
    margin-right: 0.2rem;
    font-size: 1.3rem;
}
#cart_total_value{
    font-size: 1.3rem;
    font-weight: 500;
}*/
.expiryMenu{
    max-height: 250px;
    overflow: auto;
    top: 36px !important;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}




/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
.close-button{
    right: 0%;
    top: 0px;
    left: 77%;
}
.logoutfooterpri{
    margin-right: 53px !important;
    margin-bottom: 5px;
}
.logoutfootersec{ margin-left: 57px !important;}

.modal-footer button{
    width: 100px;
    position: relative;
    top: 50%;
    left: 0%;
}
.slide_item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/*#prodTotalTable{
        top: 145px;
        right: -33px;
        position: absolute;
        margin-right: 15px;
    }*/

}

@media only screen and (min-width : 375px) {
.close-button{
    right: 0%;
    top: 0px;
    left: 77%;
}
.logoutfooterpri{
    margin-right: 83px !important;
    margin-bottom: 5px;
}
.logoutfootersec{ margin-left: 82px !important;}
.slide_item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}

.modal-footer button{
    width: 100px;
    position: relative;
    top: 50%;
    left: 0%;
}
/*#prodTotalTable{
        top: 118px;
        right: 0px;
        position: absolute;
        margin-right: 15px;
    }*/

}

@media only screen and (min-width : 425px) {
.close-button{
    right: 0%;
    top: 0px;
    left: 77%;
}
.logoutfooterpri{
    margin-right: 107px !important;
    margin-bottom: 5px;
}
.logoutfootersec{ margin-left: 109px !important;}
.slide_item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.modal-footer button{
    width: 100px;
    position: relative;
    top: 50%;
    left: 0%;
}
/*#prodTotalTable{
        top: 118px;
        right: 0px;
        position: absolute;
        margin-right: 15px;
    }*/

}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
.close-button{
    right: 0%;
    top: 0px;
    left: 77%;
}
.logoutfooterpri{
    margin-right: 53px !important;
    margin-bottom: 5px;
}
.logoutfootersec{ margin-left: 57px !important;}
.slide_item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.modal-footer button{
    width: 100px;
    position: relative;
    top: 50%;
    left: 0%;
}
/*#prodTotalTable{
        /*top: 135px;
        right: 0px;
        position: absolute;
        margin-right: 15px;
    }*/

}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.close-button{
    right: 0%;
    top: 0px;
    left: 90%;
}
.logoutfooterpri{
    margin-right: 53px !important;
    margin-bottom: 5px;
}
.logoutfootersec{ margin-left: 57px !important;}

.slide_item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/*#prodTotalTable{
        /*top: 135px;
        right: 0px;
        position: absolute;
        margin-right: 15px;
    }*/

}

.modal-footer button{
    width: 100px;
    position: relative;
    top: 50%;
    left: 0%;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.close-button{
    right: 0%;
    top: 0px;
    left: 93%;
}
.logoutfooterpri{
    margin-right: 53px !important;
    margin-bottom: 5px;
}
.logoutfootersec{ margin-left: 57px !important;}

.slide_item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.modal-footer button{
    width: 100px;
    position: relative;
    top: 50%;
    left: 0%;
}
/*#prodTotalTable{
        /*top: 135px;
        right: 0px;
        position: absolute;
        margin-right: 15px;
    }*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.close-button{
    right: 0%;
    top: 0px;
    left: 95%;
}

.slide_item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.modal-footer button{
    width: 100px;
    position: relative;
    top: 50%;
    left: 0%;
}
/*#prodTotalTable{
        top: 120px;
        right: 0px;
        position: absolute;
        margin-right: 30px;
    }*/
}